*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header,footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.container{
    width: 1140px;
    margin: auto;
    padding: 40px 0;
    h2{
        text-align: center;
    }
}